/* Profile Section */

.profile {
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profileImage {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profileImage img {
  border-radius: 50%;
}

.profileUserSettings,
.profileStats,
.profileBio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profileUserSettings {
    margin-top: 1.1rem;
}

.profileUserName {
    display: inline-block;
    /*font-size: 3.2rem;*/
    font-weight: 300;
}

.profileEditBtn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}